{% extends 'base/base.html' %}
{% if request.user.is_authenticated %}

    {#表示用于已经登录了#}
{% else %}
    {#   登录注册 #}
{% endif %}


{% load staticfiles %}
{% block page_main %}
    <ul>

        {% for film in films %}
            <li>
                {#            detail/1/#}
                <a href="{% url 'detail' film.id %}">
                    <img src="{% static film.image %}">
                </a>
            </li>

        {% empty %}
            <p>没有数据展示</p>
        {% endfor %}
    </ul>


{% endblock %}


